<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <base target="_top">
  <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
  <style type="text/css">
    input { width: 100% }
    input:invalid {
      background-color: #ffbbbb;
    }
    input:disabled {
      color: gray;
      background-color: lightgray;
    }
  </style>
</head>
<body>
<fieldset>
  <legend>Toggl</legend>
  <div class="block form-group">
    <label for="TOGGL_API_TOKEN">API token (<a href="https://toggl.com/app/profile" target="_blank">get API token</a>):</label>
    <input type="text" id="TOGGL_API_TOKEN" class="setting" pattern='^[0-9a-z]+$' value="<?=Props.get('TOGGL_API_TOKEN')?>" >
  </div>
</fieldset>
<fieldset>
  <legend>freee 工数管理</legend>
  <div class="block form-group">
    <label for="CALLBACK_URL">コールバックURL:</label>
    <input type="text" id="CALLBACK_URL" class="setting" value="https://script.google.com/macros/d/<?=ScriptApp.getScriptId()?>/usercallback" readonly="readonly" style="background-color: ivory">
    <p>コピーしてアプリのコールバックURLに設定してください(<a href="https://app.secure.freee.co.jp/developers/applications" target="_blank">freee 開発アプリ一覧</a>)</p>
  </div>
  <div class="block form-group">
    <label for="FREEE_CLIENT_ID">ClientId: </label>
    <input type="text" id="FREEE_CLIENT_ID" class="setting" pattern="^[0-9a-z]+$" value="<?=Props.get('FREEE_CLIENT_ID')?>">
  </div>
  <div class="block form-group">
    <label for="FREEE_CLIENT_SECRET">ClientSecret:</label>
    <input type="text" id="FREEE_CLIENT_SECRET" class="setting" pattern='^[0-9a-z]+$' value="<?=Props.get('FREEE_CLIENT_SECRET')?>">
  </div>
</fieldset>
<div class="block form-group bottom-right">
  <button id="save" class="blue">保存</button>
  <button id="cancel" onclick="google.script.host.close()">キャンセル</button>
</div>
<script type="text/javascript">
  (function(){
    function saveSettings(event){
      event.currentTarget.disabled=true;
      var props = {}
      var settings = document.querySelectorAll("input.setting")
      settings.forEach(function(setting){
        props[setting.id] = setting.value;
      })
      function onSuccess(){
        google.script.host.close();
      }
      function onError(error){
        console.log(error);
      }
      google.script.run
        .withFailureHandler(onError)
        .withSuccessHandler(onSuccess)
        .setProps(props);
    }
    document.querySelector("#save").addEventListener('click', saveSettings);
  })();
</script>
</body>
</html>


